numpy==1.22.4
opencv-python==4.6.0

--find-links https://download.pytorch.org/whl/cu113/torch_stable.html; sys_platform == "linux"
torch==1.12.1; sys_platform == "linux"
torchvision==0.13.1; sys_platform == "linux"
